@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
 }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: url(../img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    
}

#logo {
    margin-bottom: 60px;
}

.container {
    background-color: #141534;
    color: #b2d8de;
    padding: 56px 64px;
    border-radius: 24px;
    width: 480px;

    & form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .user-input {
            display: flex;
            flex-direction: column;
            gap: 8px;

            input, select {
                background-color: #0e0f25;
                color: #b2d8de;
                padding: 16px 20px;
                border-radius: 8px;
                border: 1px solid #1f2151;
                outline: none;
            }
        }

        & #btn {
            margin-top: 48px;
            padding: 16px 20px;
            background-color: #2f34ab;
            color: #f1f2f6;
            font-weight: 600;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }

        & #btn:hover {
            background-color: #262988;
        }
    }
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.resultado {
    background-color: #1f2151;
    text-align: center;
    padding: 40px;
    border-radius: 0 0 24px 24px;

    & p:first-child {
        color: #7d8dec;
        margin-bottom: 8px;
    }

    & p:last-child {
        color: #f1f2f6;
        font-size: 32px;
        font-weight: bold;
    }
}

.style-container {
    border-radius: 24px 24px 0 0;
}

@media screen and (max-width: 494px) {
    .container {
        width: 350px;
        padding: 56px 20px;
    }

    #logo {
        width: 250px;
        margin: 0 auto 60px;
    }
}

@media screen and (max-width: 374px) {
    .container {
        width: 300px;
    }

    #logo {
        width: 200px;
        margin-bottom: 25px;
    }
}